.list-card:hover .list-overlay {
    transform: translateY(0);
}

.list-link:focus .list-overlay {
    transform: translateY(0);
}

.list-wrap {
    position: relative;
    overflow: hidden;
}

.list-overlay {
    @include font (400, 18px, 1.56, 00.03em);
    position: absolute;
    top: 0;

    padding: 63px 24px;
    height: 100%;
    color: $btn-focus-color;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}