p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {
    display: inline-block;
    cursor: pointer;
    color: #212121;
}
a {
    color: currentColor;
    cursor: pointer;
}